<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find robot_description)/models/robotis_op2/urdf/robotis_op2.visuals_simple.xacro" />

	<!-- 将全量几何宏映射到简化版，实现快速切换 -->
	<xacro:macro name="insert_mesh_body_link">
		<xacro:insert_mesh_body_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_head_pan_link">
		<xacro:insert_mesh_head_pan_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_head_tilt_link">
		<xacro:insert_mesh_head_tilt_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_sho_pitch_link">
		<xacro:insert_mesh_l_sho_pitch_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_sho_roll_link">
		<xacro:insert_mesh_l_sho_roll_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_el_link">
		<xacro:insert_mesh_l_el_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_sho_pitch_link">
		<xacro:insert_mesh_r_sho_pitch_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_sho_roll_link">
		<xacro:insert_mesh_r_sho_roll_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_el_link">
		<xacro:insert_mesh_r_el_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_hip_yaw_link">
		<xacro:insert_mesh_l_hip_yaw_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_hip_roll_link">
		<xacro:insert_mesh_l_hip_roll_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_hip_pitch_link">
		<xacro:insert_mesh_l_hip_pitch_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_knee_link">
		<xacro:insert_mesh_l_knee_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_ank_pitch_link">
		<xacro:insert_mesh_l_ank_pitch_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_l_ank_roll_link">
		<xacro:insert_mesh_l_ank_roll_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_hip_yaw_link">
		<xacro:insert_mesh_r_hip_yaw_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_hip_roll_link">
		<xacro:insert_mesh_r_hip_roll_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_hip_pitch_link">
		<xacro:insert_mesh_r_hip_pitch_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_knee_link">
		<xacro:insert_mesh_r_knee_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_ank_pitch_link">
		<xacro:insert_mesh_r_ank_pitch_link_simple />
	</xacro:macro>

	<xacro:macro name="insert_mesh_r_ank_roll_link">
		<xacro:insert_mesh_r_ank_roll_link_simple />
	</xacro:macro>

</robot>
